---
const { title } = Astro.props;
import '@/styles/globalStyles.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='shortcut icon' href='./assets/favicon.webp' type='image/x-icon' />
    <meta name='google' content='notranslate' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: 'Open Sans';
    src: url('./fonts/open-sans.woff2') format('woff2');
    font-display: swap;
  }

  :root {
    --light-bgcolor: #232323;
    --medium-bgcolor: #121212;
    --dark-bgcolor: #000;
    --border-radius: 1vmax;

    --theme-color: #08d437;

    --light-textcolor: #fff;
    --dark-textcolor: #c6c2be;
    --accent-color: #1ed760;
    --offset: 0.5rem;

    --default-font: 'Open Sans', sans-serif, system-ui;
    --player-height: 7vmax;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    color-scheme: dark;

    @media (width <= 1111px) {
      scrollbar-width: thin;
    }
  }

  body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media (width <= 1111px) {
      overflow-y: auto;
    }
  }
</style>

<!-- <script>
  window.addEventListener('resize', e => {
    document.title = `${window.innerWidth}`;
  });
</script> -->
