---
import BaseLayout from '@/layout/base.astro';
import Sidebar from '@/ui/Sidebar/index.astro';
import Content from '@/ui/Content/index.astro';
import Player from '@/ui/Player/index.astro';
import CoverCard from '@/components/CoverCard.astro';

const title = 'SpotiMusic Player';
---

<CoverCard />

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    justify-content: center;
    background: var(--dark-bgcolor);
    padding: var(--pad-gap);
    height: 100%;
    background-color: #000;
  }

  .player {
    background: var(--dark-bgcolor);
    height: var(--player-height);
    width: 100%;
    display: grid;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    box-sizing: border-box;
    background-color: #111;
  }

  .content-container {
    display: grid;
    grid-template-columns: 18% 1fr;
    height: calc(100vh - var(--player-height));
    gap: var(--pad-gap);
    overflow: hidden;

    @media (width <= 1111px) and (orientation: portrait) {
      grid-template-columns: 32% 1fr;
    }
  }

  .sidebar {
    height: calc(100vh - var(--player-height) - 2vmax);
  }
</style>

<BaseLayout title={title}>
  <div class='container'>
    <div class='content-container'>
      <div class='sidebar'>
        <Sidebar />
      </div>
      <div class='content'>
        <Content />
      </div>
    </div>
    <div class='player'>
      <Player />
    </div>
  </div>
</BaseLayout>
